.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

.logo img {
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 130px;
}

.hero {
  position: relative;
  width: 130px;
  height: 5px;
  background: #ec5959;
  border-radius: 30px;
  margin-top: 80px;
  margin-left: 25px;
  overflow: hidden;
  transition: 2s;
}

.hero:before {
  content: "";
  position: absolute;
  width: 68px;
  height: 5px;
  left: -30px;
  background-image: linear-gradient(315deg, rgb(34, 247, 34) 20%, #aceb47 80%);
  border-radius: 20px;
  animation: anim 2s infinite ease-in-out;
  transition: 2s;
}

@keyframes anim {
  50% {
    left: 96px;
  }
}
